*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* sfondo */

.container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.top{
    width: 100%;
    height: 150px;
    background-color: #029588;
}

.container-header{
    width: 100%;
    height: calc(100vh - 150px);
    background-color: #cccecc;
}

/* top bar */

.container-app{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 95%;
    background-color: red;
}

.top-bar{
    width: 100%;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.col-35{
    background-color: #eaeaea;
    height: 70px;
    width: 40%;
    border-right: 0.5px solid gray;
}

.user-icon{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}
.user-icon img {
    width: 50px;
    margin: 10px 10px;
    background-color: #f2f2f2;
    border-radius: 100%;
}

h4{
    font-size: 13px;
}

.last-access{
    font-size: 10px;
    color: rgb(183, 183, 183);

}


.header-icon{
    font-size: 20px;
    color: rgb(183, 183, 183);
    display: flex;
    align-items: center;
}

.header-icon i{
    padding: 10px;
}

.col-65{
    background-color: #eaeaea;
    height: 70px;
    width: 60%;
}

/* main part */

.wrapper{
    width: 100%;
    height: calc(100vh - 70px - 5%);
    display: flex;
}

/* aside */

aside{
    width: 40%;
    height: calc(100vh - 70px - 5%);
    background-color: green;
    
}

.nav-top{
    width: 100%;
    height: 75px;
    background-color: rgb(0, 204, 255);
}

.search-bar{
    width: 100%;
    height: 50px;
    background-color: #fafafa;
    border-bottom: 0.5px solid gray;
}

.chat-list{
    width: 100%;
    height: calc(100vh - 230px);
    background-color: #fafafa;
}

/* main */

main{
    width: 60%;
    height: calc(100vh - 70px - 5%);
    background-color: gray;

}

.main-top{
    width: 100%;
    height: 650px;
    background-color: greenyellow;
}

.main-bottom{
    width: 100%;
    height: calc(100vh - 756px);
    background-color: blueviolet;
}


