*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* SFONDO */

.container{
    width: 100%;
    height: 100vh;
    position: relative;
}

.top{
    width: 100%;
    height: 150px;
    background-color: #029588;
}

.container-header{
    width: 100%;
    height: calc(100vh - 150px);
    background-color: #cccecc;
}

/* TOP BAR */

.container-app{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 95%;
}

.top-bar{
    width: 100%;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* TOP BAR SX */

.col-35{
    background-color: #eaeaea;
    height: 70px;
    width: 40%;
    border-right: 0.5px solid gray;
}

.user-icon{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}
.user-icon img {
    width: 50px;
    margin: 10px 10px;
    background-color: #f2f2f2;
    border-radius: 100%;
}

h4{
    font-size: 13px;
}

.last-access, .nav-top a{
    font-size: 12px;
    color: rgb(152, 152, 152);
}

.header-icon{
    font-size: 20px;
    color: rgb(183, 183, 183);
    display: flex;
    align-items: center;
}

.header-icon i{
    padding: 10px;
}

/* TOP BAR DX */

.col-65{
    background-color: #eaeaea;
    height: 70px;
    width: 60%;
}

/* MAIN PART */

.wrapper{
    width: 100%;
    height: calc(100vh - 70px - 5%);
    display: flex;
}

/* ASIDE */

aside{
    width: 40%;
    height: calc(100vh - 70px - 5%);    
}

/* NOTIFICHE */

.nav-top{
    width: 100%;
    height: 75px;
    background-color: rgb(0, 204, 255);
    display: flex;
    align-items: center;
}

.nav-top i{
    color: #8edafc;
    background-color: #f2fbfe;
    font-size: 20px;
    margin: 0 10px;
    padding: 15px 14px;
    border-radius: 100%;
}

/* SEARCH BAR */

.search-bar{
    width: 100%;
    height: 50px;
    background-color: #fafafa;
    border-bottom: 0.5px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.search-input {
    width: 95%;
    height: 75%;
    padding-left: 50px;
    border: 1px solid #f5f5f5;
}

.search-bar i {
    position: absolute;
    left: 30px;
    color: rgb(183, 183, 183);
}

/* LISTA CHAT */

.chat-list{
    width: 100%;
    height: calc(100vh - 230px);
    background-color: #fafafa;
    overflow-y: scroll;
}

.flex{
    display: flex;
    align-items: center;
}
/* ------------------- */

.contact-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    border-top: 0.1rem solid #e9ebeb;
    cursor: pointer;
}

.contact-list-active{
    background-color: #e9ebeb;
}

.contact-list img{
    width: 50px;
    margin: 10px 10px;
    background-color: #f2f2f2;
    border-radius: 100%;
}

.contact-list .profile-info{
    align-items: flex-start;
}

.contact-list .data-sottotitolo{
    color: #949494;
} 

/* --------------- */

.chat-selector {
    background-color: #fff;
}

/* MAIN */

main{
    width: 60%;
    height: calc(100vh - 70px - 5%);
}

/* CHAT */

.main-top{
    width: 100%;
    height: 650px;
    background-color: greenyellow;
    background-image: url(../img/mine.jpg);
}

.container-msg{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.msg{
    font-size: 13px;
    padding: 10px 0px 15px 10px;
    border-radius: 10px;
    width: 40%;
    position: relative;
    margin-top: 0.5rem;
}

.sent{
    align-self: flex-end;
    background-color: #d5f9ba;
}

.received{
    align-self: flex-start;
    background-color: white;
}

.data{
    position: absolute;
    font-size: 8px;
    bottom: 1px;
    right: 5px;
    color: rgb(183, 183, 183);
}

.fa-chevron-down{
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    color: #b1b1b1;
    cursor: pointer;
}

.fa-chevron-down:hover{
    display: block;
}

/* BARRA PER LA CHAT */

.main-bottom{
    width: 100%;
    height: calc(100vh - 756px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3eeea;
    border-left: 0.5px solid gray;
}

.main-bottom i {
    font-size: 20px;
    color: rgb(110, 110, 110);
    padding: 0 20px;
}

.chat-input {
    height: 90%;
    width: 100%;
    padding-left: 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}



