<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8527d0e473.js" crossorigin="anonymous"></script>
    <title>Boolzapp</title>
</head>
<body>
    <div id="app">
        <header class="container">

            <!-- SFONDO -->

            <div class="top"></div>
            <div class="container-header"></div>

            <!-- TOP BAR -->

            <div class="container-app">
                <div class="top-bar">
                    <div class="row">

                        <!-- TOP BAR SX -->

                        <div class="col-35 row">
                            <div class="user-icon">
                                <img :src="user.avatar" :alt="user.name">
                                <h4>{{user.name}}</h4>
                            </div>
                            <div class="header-icon">
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>

                        <!-- TOP BAR DX -->

                        <div class="col-65 row">
                            <div class="user-icon">
                                <img :src="contacts[contatore].avatar" :alt="contacts[contatore].name">
                                <div>
                                    <h4>{{contacts[contatore].name}}</h4>
                                    <span class="last-access">Ultimo accesso il {{contacts[contatore].messages[contacts[contatore].messages.length-1].date}}</span>
                                </div>
                            </div>
                            <div class="header-icon">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>

                        </div>
                    </div>
                </div>
                
                <!-- MAIN PART -->
    
                <div class="wrapper">

                    <!-- ASIDE -->

                    <aside>
                        <nav>

                            <!-- NOTIFICHE -->

                            <div class="nav-top">
                                <i class="fas fa-bell-slash"></i>
                                <div>
                                    <h4>Ricevi notifiche di nuovi messaggi</h4>
                                    <a href="">Attiva notifiche desktop</a>
                                </div>
                            </div>

                            <!-- SEARCH BAR -->

                            <div class="search-bar">
                                <i class="fas fa-search"></i>
                                <input type="text" class="search-input" placeholder="Cerca o inizia una nuova chat" v-model="search" @keyup="search">
                            </div>

                            <!-- LISTA CHAT -->

                            <div class="chat-list">
                                <div v-for="(contact, index) in contacts" >
                                    <div class="contact-list" @click="changeChat(index)" :class="(contatore == index) ? 'contact-list-active' : '' " v-if="contact.visible">
                                        <div class="flex ">
                                            <img :src="contact.avatar" :alt="contact.name">
                                            <div>
                                                <h4>{{contact.name}}</h4>
                                                <p class="data-sottotitolo">{{ getPreviewMessage(index) }}</p>
                                            </div>
                                        </div>
                                        
                                        <div class="chat-time" v-if="contact.messages.length > 0">
                                            {{contact.messages[contact.messages.length - 1].date}}
                                        </div>
                                    </div>
                                </div>
                            </div>
        
                        </nav>
                    </aside>

                    <!-- MAIN -->

                    <main>

                        <!-- CHAT -->

                        <div class="main-top">
                            <div class="container-msg">
                                <div class="msg sent" v-for="(elem, index) in contacts[contatore].messages" :class="(elem.status === 'sent') ? 'sent' : 'received'">
                                    <p>{{elem.message}}</p>
                                    <p class="data">{{elem.date}}</p>
                                    <i class="fa-solid fa-chevron-down"></i>
                                </div>
                            </div>
                        </div>

                        <!-- BARRA PER LA CHAT -->

                        <div class="main-bottom">
                            <i class="far fa-smile"></i>
                            <input type="text" class="chat-input" placeholder="Scrivi un messaggio." v-model="newMessage" @keyup.enter="addTask(contatore)">
                            <i class="fas fa-microphone"></i>
                        </div>
                    </main>
                </div>
            </div>
        </header>
    </div>
    



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.1.1/luxon.min.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>