<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/8527d0e473.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <header class="container">

            <!-- sfondo -->

            <div class="top"></div>
            <div class="container-header"></div>

            <!-- top bar -->

            <div class="container-app">
                <div class="top-bar">
                    <div class="row">
                        <div class="col-35 row">
                            <div class="user-icon">
                                <img :src="user.avatar" :alt="user.name">
                                <h4>{{user.name}}</h4>
                            </div>
                            <div class="header-icon">
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>


                        </div>
                        <div class="col-65 row">
                            <div class="user-icon" v-for="contact in contacts">
                                <img :src="contact.avatar" :alt="contact.name">
                                <div>
                                    <h4>{{contact.name}}</h4>
                                    <span class="last-access">Ultimo accesso oggi alle 12:00</span>
                                </div>
                            </div>
                            <div class="header-icon">
                                <i class="fas fa-search"></i>
                                <i class="fas fa-paperclip"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>

                        </div>
                    </div>
                </div>
                
                <!-- main part -->
    
                <div class="wrapper">

                    <!-- aside -->

                    <aside>
                        <nav>
                            <div class="nav-top">
                                <i class="fas fa-bell-slash"></i>
                                <div>
                                    <h4>Ricevi notifiche di nuovi messaggi</h4>
                                    <a href="">Attiva notifiche desktop</a>
                                </div>
                            </div>
                            <div class="search-bar">
                                <i class="fas fa-search"></i>
                                <input type="text" class="search-input" placeholder="Cerca o inizia una nuova chat" autocomplete="off" v-model="chatSearch" @keyup="search()">
                            </div>
                            <div class="chat-list row">
                                <div class="user-icon" v-for="contact in contacts">
                                    <img :src="contact.avatar" :alt="contact.name">
                                    <div>
                                        <h4>{{contact.name}}</h4>
                                        <span class="last-access">{{}}</span>
                                    </div>
                                </div>


                                
                                
                            </div>
        
                        </nav>
                    </aside>

                    <!-- main -->

                    <main>
                        <div class="main-top">

                        </div>
                        <div class="main-bottom">
                            

                        </div>
                        
                    </main>



                </div>
            </div>





        </header>


    </div>
    


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>